<div class="p-4">
    <div class="container">
        <div class="card">
            <h4 class="card-header">Reset Password</h4>
            <div class="card-body">
				
				<form  [formGroup]="resetpassform" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        OldPassword:<input type="password" formControlName="old_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }">
                            <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
                                <div *ngIf="f.old_password.errors.required">password is required</div>
                            </div>
                        </div>
				    <div class="form-group">
					NewPassword:<input type="password" formControlName="new_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }">
						<div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                            <div *ngIf="f.new_password.errors.required">password is required</div>
                        </div>
					</div>
					<div class="form-group">
						ConfirmNewPassword:<input type="password" formControlName="confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }">
							<div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
								<div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
								<div *ngIf="f.confirm_password.errors.confirmedValidator">New Password and Confirm Password must be match.</div>
							</div>
						</div>
                    <button type="submit" class="btn btn-primary">POST</button>&nbsp;&nbsp;
                    <button routerLink="../home" class="btn btn-primary">Back to home</button>&nbsp;&nbsp;
				</form>      
            </div>
        </div>
    </div>
</div>
