<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
            <div class="card-header">
                <div class="input-group">
                    <input type="text" placeholder="Search..." name="" class="form-control search">
                    <div class="input-group-prepend">
                        <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="card-body contacts_body">
            <ul class="contacts">
                <li class="active" *ngFor = "let item of userlist">
                    <div class="d-flex bd-highlight" >
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>

                        <div class="user_info" (click)="getMessage(item.id,item.email)">
                            <span>{{item.email}}</span>
                            <p> is online</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
            <div class="card-footer"></div>
        </div>
    </div>
        <div class="col-md-8 col-xl-6 chat" *ngIf="edited">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img [src] = "imgURL" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>{{chatwith}}{{getemail}}</span>
                            <!--<p>1767 Messages</p>-->
                        </div>
                        
                    </div>
                    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                    <div class="action_menu">
                        <ul>
                            <li><i class="fas fa-user-circle"></i> View profile</li>
                            <li><i class="fas fa-users"></i> Add to close friends</li>
                            <li><i class="fas fa-plus"></i> Add to group</li>
                            <li><i class="fas fa-ban"></i> Block</li>
                        </ul>
                    </div>
                </div>
                <div class="card-body msg_card_body" > 
                    <ng-container *ngFor="let item of messageList">
                        <div class="d-flex justify-content-start mb-4" *ngIf="item.last_message?.receiver?.id === loginid">
                            <div class="img_cont_msg">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
                            </div>
                            <div class="msg_cotainer">
                                {{item.last_message.message}}
                                <span class="msg_time">8:40 AM, Today</span>
                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-end mb-4" *ngIf="item.last_message?.sender?.id === loginid">
                            <div class="msg_cotainer_send">
                                {{item.last_message.message}}
                                <span class="msg_time_send">8:55 AM, Today</span>
                            </div>
                            <div class="img_cont_msg">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="card-footer">
                    <form [formGroup]="form" (ngSubmit)="sendMessage()"> 
                        <div class="input-group">
                            <!--<div class="input-group-append">
                                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                            </div>-->
                            <input type="text" formControlName="msg" class="form-control type_msg" placeholder="Type your message...">
                            <div class="input-group-append">
                            <button type="submit" [disabled]="!form.valid" class="input-group-text send_btn">
                                <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                            </button> 
                            </div>
                        </div>     
                       </form>
                </div>
                
            </div>
        </div>
      </div>
</div>