<p>Welcome to lodash docs</p>
{{a}}<br>
{{b}}<br>

this for find User:{{find.user}}age:{{find.age}}active{{find.active}}<br>
{{countby}}
{{compact}}<br>
Creates a new array concatenating array with any additional arrays and/or values = {{other}}<br><br>
{{difference}}<br><br>
{{objects1}}<b><b><br><br>
Drop:{{drop}}<b><b><b><b><b><b><b><b><b><b><b>
dropright:{{dropright}}</b>

{{fill1}}

{{flatten}}

{{add}}

{{divide}}


{{max}}

{{objectsmin}}

{{minby}}

{{subtract}}

{{sum}}

{{objectssumby}}

{{sumby}}

{{castArray}}

{{camelCase}}

{{ary}}

{{add}}

{{camelCaseone}}
