<div class="p-4">
    <div class="container">
        <div class="card">
            <h4 class="card-header">Forgot Password</h4>
            <div class="card-body">
				<form [formGroup]="forgetform" (ngSubmit)="onSubmit()">
					<div class="form-group">
					   Email:
					    <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
					    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>     
					<button type="submit" [disabled]="forgetform.invalid" class="btn btn-primary" >Submit</button>&nbsp;&nbsp;    
                </form>
            </div>
        </div>   
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button routerLink="../login" class="btn btn-primary">Back to login</button>&nbsp;&nbsp;
</div>
